{% extends "base.html" %}

{% block title %}{% endblock title %}



{% block extra_script %}
{% load static %}
<script src="media/js/main.js"></script>
{% endblock %}





{% block body %}
<div class="container  ">

  <div class=" p-5 mb-4 bg-warning rounded-3">
    <div class="container-fluid py-5  ">
      <h1 class="display-3 px-3 fw-bold border border-danger bg-danger text-white rounded  ">Welcome to TechBuzz!</h1>
      <p class="col-md-8 fs-4 text-white change">"Welcome to FoodBuzz, your go-to destination for the latest insights and trends in PCB manufacturing and electronics. Whether you're a professional or a tech enthusiast, explore our in-depth tutorials, product updates, and industry news. Stay ahead with expert tips, technical guides, and innovation stories, all curated by ADIY to keep you informed and inspired."</p>

    </div>
  </div>
</div>




<hr>


<div class="container my-4">
  <h1 class = "m-4">Category</h1>
  <div class="row">
    {% for i in mainCat %}
    <div class="col-md-6 mb-4">
      <a href="{% url 'mainCat' i.id %}" class="text-decoration-none  list-unstyled pt-5 mt-5 mb-4 lh-1">
        <div class="card h-100">
          
          <div class="d-flex justify-content-center align-items-center " style="height: 200px;">
            <img src="/media/{{ i.image }}" class="img-fluid rounded" alt="Image of {{ i.name }}" style="max-height: 100%;">
          </div>
          <div class="card-body text-center">
            
            <h5 class="">{{ i.mainCat }}</h5>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<hr>






{% if request.user.is_authenticated and request.user.username == 'admin' %}
{{ request.user.username }} Welcome
{% endif %}

{% endblock body %}